<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img alt="logo" width="20" height="20" src="../images/webpack.png"/>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#">Features <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Examples</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</nav>